.pagination-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 250px;
  height: 40px;
  /* margin-top: 235px; */
}
.pagination-div .button-div {
  width: 30px;
}
.pagination-div button {
  width: 30px;
  height: 30px;
  background-color: white;
  border: none;
  border-radius: 50%;
}
.pagination-div .fa-solid {
  font-size: 20px;
}
/* Label + input */
.pagination-div > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagination-div label {
  padding: 0 10px;
}
.pagination-div input {
  font-size: 16px;
  width: 40px;
  padding-top: 3px;
  text-align: center;
  border: none;
}
