footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
}
footer div {
  padding: 20px 0;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
footer a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}
footer img {
  height: 30px;
}
footer .fa-brands {
  font-size: 30px;
}
footer .fa-linkedin {
  color: #0b65c2;
}
